@charset "utf-8";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
*,
*:before,
*:after{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
*:focus{outline:0}
html{
	-webkit-font-smoothing:antialiased;
}

body{
	margin:188px 0 0 0;
	padding:0 0;
	font-weight:normal;
	background: #FFFFFF;
	font-family: 'Fira Sans', sans-serif;
    color: #000;
	line-height:1.375;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:-moz-box;
	display:flex;
	
	-webkit-flex-wrap:nowrap;
	-moz-flex-wrap:nowrap;
	-ms-flex-wrap:nowrap;
	flex-wrap:nowrap;
	
	-webkit-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	
	overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6,ul{
	margin:0;
	padding:0;
}
ul{list-style-type:none}
h1, h2, h3, h4, h5{
	margin:20px 0;
	font-family: 'Fira Sans', sans-serif;
	font-weight:500;
	color:#2d2d2d;
}
h2{
	font-family: 'Fira Sans', sans-serif;
	font-size:25px;
	line-height:40px;
	font-weight:600;
}
h4{
	font-family: 'Fira Sans', sans-serif;
	line-height:25px;
	font-weight:500;
	font-size:18px;
}
h5{
	font-family: 'Fira Sans', sans-serif;
	line-height:1.181818181818182em;
	font-size:22px;
}
a{
	font-family: 'Fira Sans', sans-serif;
	color:#007bff;
	text-decoration:none;
	background-color:transparent;
	-webkit-text-decoration-skip:objects;
	display:inline-block;
	
    -webkit-user-select:none; /* Safari 3.1+ */
    -moz-user-select:none; /* Firefox 2+ */
    -ms-user-select:none; /* IE 10+ */
    user-select:none; /* Standard syntax */
}
a:hover,
a:focus,
a:visited{text-decoration:none}
a:hover{color:#0056b3}

p{
	font-family: 'Fira Sans', sans-serif;
	margin:5px 0px;
	line-height:26px;
	font-size:15px;
    color:#0a0a0a;
}
.header{
	width:100%;
	position:relative;
    -webkit-transition:all 0.6s ease;
    -moz-transition:all 0.6s ease;
    -ms-transition:all 0.6s ease;
    -o-transition:all 0.6s ease;
    transition:all 0.6s ease;
	position:fixed;
	z-index:9;
	left:0;
	top:0;
}
.header.fix{
	background-color:rgba(255,255,255,1);
}
.hdrIn{
	width:100%;
	padding:36px 0;
	position:relative;
    -webkit-transition:all 0.6s ease;
    -moz-transition:all 0.6s ease;
    -ms-transition:all 0.6s ease;
    -o-transition:all 0.6s ease;
    transition:all 0.6s ease;
    display: flex;
    align-items: center;
}
.closebtn{display: none}
.togglarBtn{display: none}
.header.fix .hdrIn{padding:0px 0}
.header.fix .hdrIn .logo{
	width: 10%;
}
.header.fix .hdrIn .nav > ul > li > a{font-weight: 600}

.hdrIn::after,
.hdrIn::before{
	display:block;
	content:"";
}
.hdrIn::after{clear:both}

.logo{
	width:15%;
	float:left;
	-webkit-transition:all 0.6s ease;
    -moz-transition:all 0.6s ease;
    -ms-transition:all 0.6s ease;
    -o-transition:all 0.6s ease;
    transition:all 0.6s ease;
}
.logo img{
	width:100%;
	display:block;
}
.nav{
	width: 85%;
	position: relative;
}
.nav ul{
	margin:0;
	padding:0;
	list-style:none;
	width: 100%;
	position: relative;
	margin-left: 10%;
	width: 100%;
}
.nav li{
	font-weight:600;
    font-family: 'Fira Sans', sans-serif;
	text-transform:uppercase;
	line-height:16px;
	font-size:13px;
	color:#fff;
}
.nav li:last-child{
	position: absolute;
	right: 0;
}
.nav > ul > li{display: inline-block;}
.nav li a{
	display: inline-block;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin: 0 15px;
	color: #2F2E41;
}
.nav >ul > li a.active{
    color: #56C8E7;
    background-color: transparent;
}
.nav >ul > li a.active:after {
    width: 100%;
}
.nav >ul > li a:after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color:  #56C8E7;
    transition: 0.2s all;
}
.nav >ul > li a:hover:after{width: 100%}
.nav >ul > li a:focus:after{width: 100%;}
.header_section{
	position: relative;
	padding-bottom: 80px;
}
.img1{
	position: absolute;
	left: 0;
	bottom: 6%;
}
.img3{
	position: absolute;
	left: 5%;
    bottom: 20%;
	background: #FFFFFF;
	border-radius: 50%;
}
.img4{
	position: absolute;
	left: 4%;
    bottom: 25%;
}
.img5{
	position: absolute;
	left: 0;
    top: 45%;
	box-sizing: border-box;
}
.img6{
	position: absolute;
	left: 36%;
    top: 49%;
}
.img7{
	position: absolute;
	right: 15%;
    top: 0%;
}
.img8{
	position: absolute;
	right: -3%;
    top: 1%;
	transform: rotate(4.15deg);
}
.img10{display: none}
.header_section h2{
	font-style: normal;
	font-weight: 900;
	font-size: 63px;
	line-height: 70px;
	letter-spacing: -1px;
	color: #151515;
}
.header_section h2 > span{
	color: #56C8E7;
}
.header_section h2 > p{
	margin: 0;
	padding: 0;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 28px;
	color: #222222;
	opacity: 0.7;
}
.header_section a{
	margin-top: 50px;
	margin-bottom: 90px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #56C8E7;
	border-radius: 50px;
	padding: 8px 20px;
	border: none;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #FFFFFF !important;
	outline: none;
	cursor: pointer;
	border: 2px solid transparent;
}
.header_section a:hover{
	background-color: transparent;
	color: #56C8E7 !important;
	border: 2px solid #56C8E7;
}
.header_section h6{
	margin-top: 90px;
	margin-bottom: 15px;
	font-family: Fira Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 24px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #414141;
	opacity: 0.8;
	position: relative;
}
.header_section h6::after {
    display: inline-block;
    content: "";
    height: 3px;
    width: 1.5%;
    background-color: #414141;
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
}
.header_section h3{
	font-weight: 600;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: -1px;
	color: #414141;
	margin-bottom: 50px;
}
.header_section p{
	font-weight: 500;
	font-size: 24px;
	line-height: 20px;
	letter-spacing: -1px;
	color: #414141;
	margin-bottom: 20px;
}

.founder{
	padding: 100px;
	background: #56C8E7;
	position: relative;
}
.founder1{
	position: absolute;
	left: 54%;
    top: 4%;
}
.founder2{
	position: absolute;
	left: 61%;
    top: 4%;
	z-index: 9;
}
.founder3{
	position: absolute;
	right: 31%;
    top: 55%;
}
.founder4{
	position: absolute;
	right: 0px;
	top: 40%;
}
.founder5{
	position: absolute;
	right: 26%;
    top: 46%;
}
.founder6{
	position: absolute;
	right: 36%;
    top: 33%;
}
.founder7{
	position: absolute;
	right: 2%;
    top: 59%;
}
.founder8{
	position: absolute;
	right: 30%;
    bottom: 9%;
}
.founder9{
	position: absolute;
	right: 7%;
    bottom: 2%;
}
.founder10{
	position: absolute;
    top: 55%;
    left: 50%;
    height: 309px;
}
.founder11{
	position: absolute;
	top: 23%;
    left: 3%;
}
.founder12{
	position: absolute;
    top: 76%;
    left: 43%;
}

.founder h5{
	font-weight: 500;
	font-size: 21px;
	line-height: 24px;
	letter-spacing: 4px;
	text-transform: uppercase;
	position: relative;
}
.founder h5::after {
    display: inline-block;
    content: "";
    height: 2px;
    width: 3%;
    background-color: #000;
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
}
.founder h3{
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: -1px;
	margin-top: 75px;
}
.founder h4{
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;
	margin-bottom: 20px;
}
.founder p{
	font-weight: 500;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -1px;
	margin-bottom: 50px;
	text-align: justify;
}
.founder hr{
	width: 50%;
	margin: 25px 0;
	background-color: #000;
	height: 2px;
}
.textMb {
    width: 83%;
    text-align: justify;
}
.text0 {
    width: 82%;
    text-align: justify;
}
.text1 {
	margin: 50px 0;
	text-align: left;
}
.text2 {
	margin: 50px 0;
	text-align: right;
}
.text4 {
	margin: 22px 0;
	text-align: initial;
    width: 84%;
}
.text5 {
	margin: 35px 0;
	text-align: left;
}
.founder ul > li{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.founder ul > li::before {
	    content: "\f111";
	    font-family: "Font Awesome 5 Free";
	    margin-right: 4px;
	    background-color: #FAF7AC;
    	border-radius: 50%;
    	font-size: 11px;
    	vertical-align: middle;
    	color: transparent;
	}
.text3{
    letter-spacing: 1px!important;
    font-size: 20px !important;
    line-height: 21px !important;
}
.author {
    position: absolute;
    width: 485px;
    height: 500px;
    left: 87%;
    top: 0.5%;
}
.author img{
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 55px;
	border-radius: 50%;
}
.author h6{
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 32px;
	position: absolute;
    top: 110%;
    left: 44%;
}
.services{
	padding: 54px 0;
	background-color: #FAF7AC;
	position: relative;
}
.service1{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.service2{
	position: absolute;
	top: 5%;
	right: 6%;
}
.service3{
	position: absolute;
	bottom: 10%;
	right: 6%;
}
.service4{
	position: absolute;
	bottom: 7%;
	right: 3%;
}
.service5{display: none}
.service6{display: none}
.services .mb-20{
	margin-bottom: 20px;
}
.services h5{
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 24px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #414141;
	opacity: 0.8;
}
.services h3{
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: -1px;
	color: #414141;
}
.services hr{
	width: 50%;
	margin: 25px 0;
	background-color: #414141;
	height: 2px;
}
.services p{
	width: 70%;
	font-family: Fira Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -1px;
	color: #414141;
	text-align: justify;
}
.approach{
	background-color: #fff;
	position: relative;
	padding: 100px 0;
}
.approach1{
	position: absolute;
	top: 8%;
	left: 0px;
}
.approach2{
	position: absolute;
	top: 3%;
	left: 1%;
}
.approach h5{
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: -1px;
	color: #000000;
}
.approach hr{
	width: 40%;
	margin: 25px 0;
	background-color: #414141;
	height: 2px; 
}
.approach .mt-100{
	margin-top: 100px;
	margin-bottom: 40px;
}
.approach p{
	font-family: Fira Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -1px;
	color: #000000;
}
.approach h6{
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 24px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #141517;
	opacity: 0.8;
}
.articles{
	background-color: #fff;
	margin-bottom: 25px;
}
.articles .articleImg{
	width: 100%;
	padding: 0;
	text-align: center;
	height: 285px;
}
.articles .articleImg img{
	width: 100%;
	height: 100%;
	border-radius: 20px 20px 0 0px;
}
.card-body{
	border: none;
	border-radius: .25rem .25rem 0rem 0rem;
	box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.25);
	padding: 2rem;
}
.card-body > h5{
	display: inline;
	margin-right: 10px;
	margin-top: -20px;
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #000000;
}
.card-body > span{
	margin: 0px 20px 0 0;
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 10px;
	line-height: 24px;
	text-align: right;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #181A19;
	opacity: 0.5;
}
.card-body > h5 span:first-child{
	margin-left: 30px;
}
.card-body > a{
	display: block;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
	padding: 10px 0;
	width: 35%;
	border: none;
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin-top: 20px;
	color: #fff !important;
	transition: 0.6s ;
	margin-left: 65%;
	outline: none;
	cursor: pointer;
	border: 2px solid transparent;
}

.card-body .bg1{
	background-color:  #56C8E7;
}
.card-body .bg1:hover{
	background-color: transparent;
	color: #56C8E7 !important;
	border: 2px solid #56C8E7;
}
.card-body .bg2{
	background-color:  #00B7A8;
}
.card-body .bg2:hover{
	background-color: transparent;
	color: #00B7A8 !important;
	border: 2px solid #00B7A8;
}
/********Blog Post Page************/
.blog_header{
	padding-top: 100px;
	padding-bottom: 80px;
	position: relative;
}
.blog_header .blog_header1{
	position: absolute;
	right: 0;
	bottom: 10%;
	z-index: -5;
}
.blog_header h2{
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: -1px;
	color: #2F2E41;
}
.blog_header hr{
	height: 1px;
	background-color: #56C8E7;
	z-index: 5;
}
.blog_header h4{
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	line-height: 24px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #676767;
}
.buttons{
	width: 100%;
}
.buttons a{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: #fff;
	border-radius: 50px;
	padding: 10px 20px;
	border: none;
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #2F2E41;
	transition: 0.6s ;
	margin: 0 20px;
	outline: none;
	cursor: pointer;
}
.buttons a:hover{
	color: #fff;
	background-color: #56C8E7; 
}
.cat-button{
    color: #fff;
	background-color: #56C8E7; 
}
.blog_body{
	z-index: 1;
	position: relative;
	background-color: #56C8E7;
	padding: 100px 0;
}
.blog_body .blogbody1{
	position: absolute;
	left: 0;
	top: -5%;
}
.blog_body .blogbody2{
	position: absolute;
	left: 0;
	top: 10%;
	z-index: -1;
}
.blog_body .blogbody3{
	position: absolute;
	right: 0;
	z-index: -1;
}
.blog_body .blogbody4{
	position: absolute;
	bottom: 0;
	z-index: -1;
}
.blog_body .blogPost{
	z-index: 5;
}
.blog_body .blogPost .col-md-12{
	background-color: #fff;
	padding: 25px;
	margin-bottom: 40px;
	box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.25);
}
.blog_body .blogPost .col-md-12:last-child {
    margin-bottom: 0px;
}
.blog_body .blogPost .postImg{
	width: 90%;
	height: 70%;
}
.blog_body .blogPost .postImg img{
	width: 100%;
	height: auto;
}
.blog_body .blogPost h4{
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 20px;
	letter-spacing: -1px;
	color: #000000;
	margin-bottom: 0 ;
}
.blog_body .blogPost h6{
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 50px;
	letter-spacing: 5px;
	color: #524B4B;
}
.blog_body .blogPost h6::before{
	display: inline-block;
	content: '';
	height: 1px;
	width: 40%;
	background-color: #524B4B;
	vertical-align: middle;
	margin-right: 10%;
}
.blog_body .blogPost p{
	font-style: inherit;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	color: #000000;
}
.blog_body .blogPost .blockbg > span {
    margin: 0px 30px 0px 0px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #000000;
}
.blog_body .blogPost .blockbg > a{
	display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    padding: 10px 40px;
    border: none;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 20px;
    color: #fff;
    background-color: #56C8E7;
    transition: 0.6s;
    margin-left: 65%;
    outline: none;
    cursor: pointer;
    border: 2px solid transparent;
}
.blog_body .blogPost .blockbg > a:hover{
	background-color: transparent;
	color: #56C8E7 !important;
	border: 2px solid #56C8E7;
}
.blog_body .blogPost .blockbg button:hover{
	background-color: transparent;
    color: #56C8E7;
    border: 2px solid #56C8E7;
}
/***********Single Post Page********************/
.postMainBody{
	background-color: #fff;
}
.postMainBody .postImage{
	width: 100%;
	height: 630px;
}
.postMainBody .postImage img{
	width: 100%;
	height: 100%;
}
.postMainBody .postBody{
	position: relative;
	padding: 100px 0 170px 0;
	overflow: hidden;
	z-index: 0;
}
.postMainBody .postBody .singl1{
	position: absolute;
	top: -9%;
	left: -1%;
	z-index: -1;
}
.postMainBody .postBody .singl2{
	position: absolute;
    top: 85px;
    right: 0;
    z-index: -1;
}
.postMainBody .postBody .singl3{
	position: absolute;
    right: 0;
    top: 50px;
    z-index: -1;
}
.postMainBody .postBody .singl4{
	position: absolute;
    left: 0;
    top: 50%;
    z-index: -1;
}
.postMainBody .postBody .singl5{
	position: absolute;
    top: 45%;
    left: 0;
    z-index: -1;
}
.postMainBody .postBody .singl6{
	position: absolute;
    bottom: -80px;
    left: 30%;
    z-index: -1;
}
.postMainBody .postBody .singl7{
	position: absolute;
    bottom: 30px;
    left: 38%;
    z-index: -1;
}
.postMainBody .postBody .postBodyHeader{
	text-align: center;
	z-index: 5;
}
.postMainBody .postBody .postBodyHeader h1{
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: -1px;
	color: #000000;
}
.postMainBody .postBody .postBodyHeader p{
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #000000;
}
.postMainBody .postBody .postBodyHeader p > span{
	margin-left: 30px;
}
.postMainBody .postBody .postBodyHeader hr{
	width: 100%;
	height: 1px;
	background-color: #C4C4C4;
}
.postMainBody .postBody .postText{
	padding: 10px;
}
.postMainBody .postBody .postText p{
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	letter-spacing: 2px;
	color: #000000;
	text-align: justify;
}
.prev-next{
	margin-top: 35px;
	width: 100%;
	position: relative;
}
.prev-next a{
	height: 40px;
	width: 40px;
	background-color: #56C8E7;
}
.prev-next .prev{
	position: absolute;
	left: 0;
	background-image: url('../images/prev.png');
	background-repeat: no-repeat;
    background-position: center;
}
.prev-next .prev::after{
	display: block;
	content: 'PREVIOUS';
	font-family: 'Fira Sans' , sans-serif;
	font-weight: 900;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #000;
	position: relative;
	left: 150%;
	top: 20%;
}
.prev-next .next{
	position: absolute;
	right: 0;
	background-image: url('../images/next.png');
	background-repeat: no-repeat;
    background-position: center;
}
.prev-next .next::before{
	font-family: 'Fira Sans' , sans-serif;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 900;
	font-size: 14px;
	line-height: 24px;
	display: block;
	content: 'NEXT';
	color: #000;
	position: relative;
	right: 150%;
	top: 20%;
}

footer{
	background-color: #56C8E7;
	padding: 50px 0;
	position: relative;
}
.footerimg1{
	position: absolute;
	top: -30%;
	right: 30%;
}
.footerimg2{
	position: absolute;
	right: 21%;
    top: 50%;
    transform: translateY(-50%);
}
.footerimg3{
	position: absolute;
	right: 2%;
	bottom: 6%;
}
footer h3{
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: -1px;
	color: #F4F4F4;
}
footer p{
	font-family: Fira Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 30px;
	letter-spacing: -1px;
	color: #F4F4F4;
}

/***************************************
   			RESPONSIVE    
****************************************/
@media screen and (max-width:1199px){
/***************************************
		Header Section
****************************************/
	.nav > ul{
		margin-left: 5%;
	}
	.nav > ul > li > a{
		margin: 0 10px;
		letter-spacing: 3px;
	}
/***************************************
		Index Page
****************************************/
	.img1 {width: 150px}
	.img3 {width: 110px}
	.img4 {width: 95px}
	.img5 {width: 120px}
	.img6 {width: 110px}
	.img7 {width: 240px}
	.img8 {width: 880px}
	.founder1 {
		width: 450px;
		left: 700px;
    	top: 85px;
	}
	.founder2 {
		width: 60px;
		top: 6%;
	}
	.founder3 {width: 60px}
	.founder4 {width: 150px}
	.founder5 {width: 50px}
	.founder6 {
		width: 130px;
		top: 22%;
    	left: 53%;
	}
	.founder7 {width: 350px}
	.founder8 {width: 100px}
	.founder9 {width: 170px}
	.founder10 {
		height: 280px;
		top: 53%;
    	left: 50%;
	}
	.founder11 {
		height: 280px;
		top: 18%;
    	left: 4%;
	}
	.founder12 {
		width: 100px;
		top: 71%;
    	left: 36%;
	}
	.author {
		width: 415px;
	    top: -8px;
	    left: 89%;
	}
	.author img {
	    top: 9px;
	    left: 93px;
	}
	.founder h4 {font-size: 20px}
	.founder h3 {font-size: 36px}
	.author h6 {
		left: 50%;
    	top: 105%;
	}
	.articles .articleImg {height: 255px}
	.card-body > h5 {
		margin-right: 5px;
		letter-spacing: 2px;
	}
	.card-body > span {margin: 0px 6px 0 0}

/***************************************
		Blog Post Page
****************************************/
	.blog_header .blog_header1 {
	    bottom: 24%;
	    width: 209px;
	}
	.buttons a {
		margin: 0 13px;
		padding: 10px 14px;
	}
	.blog_body .blogPost p {
	    line-height: 22px;
	    letter-spacing: 2px;
	}
	.blog_body .blogPost .blockbg > a {
		margin-left: 55%;
		padding: 10px 25px;
		letter-spacing: 3px;
	}
/***************************************
		Single Post Page
****************************************/

}
@media screen and (max-width:1023px){
/***************************************
		Index Page
****************************************/
	.img1 {
	    width: 135px;
	    left: 0;
	    bottom: 5%;
	}
	.img3 {
	    width: 100px;
	    left: 5%;
	    bottom: 16%;
	}
	.img4 {
	    width: 95px;
	    left: 4%;
	    bottom: 18%;
	}
	.img5 {
	    width: 120px;
	    left: -2%;
	    top: 45%;
	}
	.img6 {
	    width: 100px;
	    top: 46%;
	    left: 42%;
	}
	.img7 {
	    width: 240px;
	    top: 0;
	    right: 8%;
	}
	.img8 {
	    width: 800px;
	    right: 0%;
	    top: 4%;
	}
	.founder1 {
	    width: 350px;
	    left: 567px;
	    top: 85px;
	}
	.founder2 {
	    width: 50px;
	    left: 57%;
	}
	.founder3 {
	    width: 55px;
	    left: 660px;
	}
	.founder4 {width: 130px}
	.founder5 {
	    width: 45px;
	    left: 670px;
	    top: 760px;
	}
	.founder6 {
	    width: 100px;
	    left: 52%;
    	top: 19%;
	}
	.founder7 {
	    width: 300px;
	    left: 600px;
	}
	.founder10 {
	    height: 280px;
	    left: 55%;
    	top: 53%;
	}
	.founder11 {
	    height: 285px;
	    top: 23%;
    	left: 3%;
	}
	.founder12 {
	    width: 100px;
	    left: 36%;
	    top: 70%;
	}
	.author {
		width: 325px;
	    top: 0%;
    	left: 89%;
	}
	.author img {
	    top: -2px;
	    left: 46px;
	}
	.author h6 {
	    top: 85%;
    	left: 40%;
	}
	.founder h3 {font-size: 30px}
	.founder p {margin-bottom: 30px}
	.founder p {line-height: 20px}
	.founder h3 {line-height: 40px}
	.text4 {
	    margin: 22px 0;
	    text-align: initial;
	    width: 100%;
	}
	.services {padding: 44px 0}
	.service1 {width: 220px}
	.approach1 {width: 180px}
	.approach2 {width: 110px}
	.articles .articleImg {height: 255px}

    .postMainBody .postImage {height: 550px}
}

@media screen and (max-width:991px){
/***************************************
		Header Section
****************************************/
	body {margin: 72px 0 0 0}
	.hdrIn {padding: 0 0}
	.logo {
		width: 13%;
		margin: auto;
	}
	.togglarBtn {
		display: block;
	    background-color: transparent;
	    font-size: 35px;
	    padding: 2px 10px;
	    border: none;
	    border-radius: 6px;
	    outline: none;
	    color: #56C8E7;;
	}
	.header.fix .togglarBtn{
		font-size: 25px;
    	padding: 2px 8px;
	}
	.nav {
		height: 100vh; /* 100% Full-height */
		width: 0; /* 0 width - change this with JavaScript */
		position: fixed; /* Stay in place */
		z-index: 1; /* Stay on top */
		top: 0; /* Stay at the top */
		left: 0;
		background-color: #56C8E7; /* Black*/
		overflow-x: hidden; /* Disable horizontal scroll */
		padding-top: 70px; /* Place content 60px from the top */
		transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	}
	.nav ul{}
	.nav ul > li{
		display: block;
		margin: 15px 0;
	}
	.nav ul > li:last-child{position: static}
	.nav ul > li > a{
	    font-style: normal;
	    font-weight: 500;
	    font-size: 16px;
	    line-height: 24px;
	    text-align: center;
	    letter-spacing: 2px;
	    text-transform: uppercase;
	    margin: 0 15px;
	    color: #fff;
	}
	.header.fix .hdrIn .nav > ul > li > a {
	    font-weight: 500;
	}
	.nav >ul > li a.active{color: #fff}
	.nav >ul > li a:after{background-color:  #fff}
	.nav .closebtn {
		color: #fff;
		display: block;
	    position: absolute;
	    top: 0;
	    right: 25px;
	    font-size: 36px;
	    margin-left: 50px;
	}
	#main {transition: margin-left .5s;}
/***************************************
		Index Page
****************************************/
	.header_section {padding-bottom: 30px}
	.img1 {
	    width: 120px;
	    left: 0px;
	    bottom: 6%;
	}
	.img3 {
	    width: 85px;
	    left: 5%;
	    bottom: 17%;
	}
	.img4 {
	    width: 90px;
	    left: 4%;
	    bottom: 19%;
	}
	.img5 {
	    width: 110px;
	    left: 0%;
	    top: 45%;
	}
	.img6 {width: 90px}
	.img7 {
	    width: 190px;
	    top: 1%;
	    right: 12%;
	}
	.img8 {
	    width: 770px;
	    right: 0%;
	    top: 6%;
	}
	.header_section h2 {
		font-size: 50px;
    	line-height: 65px;
	}
	.header_section h3 {
		font-size: 35px;
    	line-height: 47px;
	}
	.founder1 {
	    width: 330px;
	    left: 56%;
	    top: 4%;
	}
	.founder2 {width: 45px}
	.founder6 {
	    width: 90px;
	    left: 52%;
	    top: 17%;
	}
	.founder4 {
	    width: 100px;
	    top: 50%;
	}
	.founder7 {
	    width: 250px;
	    left: 60%;
	}
	.founder9 {width: 150px}
	.founder10 {
	    height: 290px;
	    left: 53%;
    	top: 53%;
	}
	.founder11 {
	    height: 290px;
	    top: 22%;
	    left: 4%;
	}
	.founder12 {
	    width: 55px;
	    left: 45%;
	    top: 71%;
	}
	.textMb {width: 100%}
	.text0 {width: 100%}
	.author {
	    width: 310px;
	    left: 90%;
    	top: 0%;
	}
	.author h6{
		top: 80%;
    	left: 42%;
	}
	.founder h5::after{
		width: 4%;
		left: -20px;
	}
	.founder h3 {
	    font-size: 27px;
	    line-height: 35px;
	}
	.founder h4 {line-height: 25px}
	.text1{width: 100%}
	.text2 {width: 100%}
	.founder h4 {
	    line-height: 20px;
	    font-size: 19px;
	}
	.text4 {line-height: 30px !important}
	.founder h3 {
	    font-size: 25px;
	    line-height: 27px;
	}
	.text3 {
	    font-weight: 500 !important;
	    letter-spacing: 1px!important;
	    font-size: 19px !important;
	    line-height: 20px !important;
	}
	.services {padding: 35px 0}
	.service1 {width: 180px}
	.service3 {width: 120px}
	.service4 {width: 80px}
	.services .mb-20 {margin-bottom: 10px}
	.services h5 {font-size: 20px}
	.services h3 {
	    font-size: 30px;
	    line-height: 40px;
	}
	.services p {
    	width: 100%;
    	font-size: 17px
    }
    .approach {padding: 65px 0}
    .approach1 {width: 130px}
    .approach2 {
	    width: 85px;
	    top: 5%;
	}
	.articles .articleImg {height: 140px}
	.approach h5 {
		font-size: 38px;
		line-height: 40px;
		margin: 15px 0;
	}
	.approach .mt-100 {
	    margin-top: 80px;
	    margin-bottom: 35px;
	}
	.approach h6 {
		font-size: 20px;
    	line-height: 22px;
    }
    .card-body {padding: 1px 1px 10px 10px;}
    .card-body > h5 {
    	display: block;
	    font-size: 14px;
	    margin-top: 5px;
	    line-height: 22px;
	    letter-spacing: 3px;
	}
	.card-body > span{

	}
	.card-body > button {
		margin-left: 45%;
		padding: 7px 0;
		letter-spacing: 3px;
		margin-top: 15px;
	}
/***************************************
		 Blog Post Page
****************************************/
	.blog_header {
	    padding-top: 20px;
	    padding-bottom: 35px;
	}
	.blog_header h2 {
	    font-size: 33px;
	    line-height: 35px;
	}
	.blog_header .blog_header1 {width: 165px}
	.blog_header h4 {
	    font-size: 20px;
	    line-height: 20px;
	    letter-spacing: 3px;
	}
	.buttons a {
	    margin: 0 30px;
	    padding: 10px 32px;
	    margin-bottom: 10px;
	}
	.blog_body {padding: 75px 0}
	.blog_body .blogbody1 {width: 110px}
	.blog_body .blogbody2 {width: 145px}
	.blog_body .blogbody3 {
	    right: -15px;
	    top: 50%;
	    width: 110px;
	}
	.blog_body .blogbody4 {width: 180px}
	.blog_body .blogPost h4 {
	    font-size: 35px;
	    line-height: 15px;
	}
	.blog_body .blogPost h6 {
	    line-height: 40px;
	    letter-spacing: 3px;
	}
	.blog_body .blogPost h6::before {width: 40%}
	.blog_body .blogPost p {
	    line-height: 20px;
	    letter-spacing: 2px;
	    font-size: 16px;
	}
	.dinline{display: inline}
	.blog_body .blogPost .blockbg > span {margin: 0px 20px 0px 20px}
	.blog_body .blogPost .blockbg > a {padding: 5px 24px}

/***************************************
		 Single Post Page
****************************************/
	.postMainBody .postImage {height: 415px}
	.postMainBody .postBody .singl1 {
	    top: -5%;
	    left: -4%;
	    width: 147px;
	}
	.postMainBody .postBody .singl5 {top: 47%;}
	.postMainBody .postBody .singl2 {width: 120px;}
	.postMainBody .postBody .singl6 {bottom: -95px;}
/***************************************
		Footer Section
****************************************/
	footer{padding: 30px 0;}
	.footerimg1{
		top: -21%;
	    right: 30%;
	    width: 150px;
	}
	.footerimg2{
		right: 21%;
	    top: 50%;
	}
	.footerimg3{
		width: 100px;
	    right: 8%;
	    bottom: 14%;
	}
	footer h3{
		font-size: 35px;
		line-height: 30px;
	}
	footer p{font-size: 20px}
}
@media screen and (max-width:767px){
/***************************************
		Header Section
****************************************/
	body {
	    margin: 60px 0 0 0;
	}
	.header.fix .hdrIn .logo {
	    width: 13%;
	}
	.togglarBtn {
		font-size: 30px;
    	padding: 2px 9px;
	}
/***************************************
		Index Page
****************************************/
.header_section {
	padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
}
	.img1 {width: 80px}
	.img3 {
	    width: 70px;
	    left: 4%;
	    bottom: 12%;
	}
	.img4 {
	    width: 60px;
	    left: 3%;
	    bottom: 14%;
	}
	.img5 {
	    width: 85px;
	    left: 0%;
	    top: 44%;
	}
	.img6 {
	    width: 55px;
	    top: 48%;
	}
	.img7 {
	    width: 155px;
	    top: 10%;
	    right: 13%;
	}
	.img8 {
	    width: 500px;
	    right: 0%;
	    top: 18%;
	}
	.header_section h2 {
	    font-size: 35px;
	    line-height: 55px;
	}
	.header_section h2 > span {
	    font-size: 70px;
	    line-height: 125px;
	}
	.header_section h2 > p {
		font-size: 23px;
    	line-height: 25px;
    	margin-top: -17px;
	}
	.header_section a {
	    margin-top: 20px;
	    margin-bottom: 45px;
	    padding: 15px 34px;
	    letter-spacing: 7px;
	}
	.header_section h6 {
		margin-top: 30px;
		margin-bottom: 10px;
		font-size: 21px;
		line-height: 22px;
		letter-spacing: 3px;
	}
	.header_section h6::after {
	    width: 100%;
	    background-color: #56C8E7;;
	    left: 50%;
	    top: 150%;
	    transform: translateY(none); 
	    transform: translateX(-50%);
	}
	.header_section h3 {
	    font-size: 30px;
	    line-height: 35px;
	    margin-bottom: 40px;
	}
	.header_section p {
	    font-size: 20px;
	    line-height: 18px;
	    margin-bottom: 17px;
	}
	.founder {padding: 25px}
	.founder1 {
	    width: 330px;
	    left: 29%;
    	top: 10.8%;
	}
	.founder2 {
	    width: 45px;
	    top: 11%;
	    left: 35%;
	}
	.founder11 {
	    height: 290px;
	    top: 49%;
	    left: 4%;
	}
	.founder10 {
	    height: 290px;
	    left: 85%;
	    top: 66%;
	}
	.founder12 {
	    width: 82px;
	    left: 71%;
	    top: 82%;
	}
	.textCntr{
		text-align: center;
	}
	.founder h5 {margin-bottom: 60px}
	.founder h5::after{
		width: 20%;
	    background-color: #000;
	    left: 50%;
	    top: 150%;
	    transform: translateY(none); 
	    transform: translateX(-50%);
	}
	.founder h3 {margin-bottom: 15px;margin-top:0;}
	.founder p {text-align: initial}
	.author{
		position: static;
		margin: auto;
		margin-top: 16%;
		height: 412px;
	}
	.founder h4 {
	    line-height: 20px;
	    font-size: 20px;
	    font-weight: bold;
	}
	.founder hr{
		width: 30%;
		margin: auto;
		margin-bottom: 10px;
	}
	.textMb{margin-bottom: 70px !important}
	.text0{margin: 50px 0 !important}
	.text2{display: none}
	.text1 {
		margin: 50px 0;
		text-align: left !important;
	}
	.text1 > li{
		margin-left: 0px;
		font-size: 16px;
		line-height: 30px
	}
	.founder ul > li::before {
	    margin-right: 4px;
    	font-size: 11px;
	}
	.text4 > li{
		margin-left: 0px;
		font-size: 16px;
	}
	.text5 > li{
		margin-left: 0px;
		font-size: 16px;
	}
	.text3 {
	    font-weight: 500 !important;
	    letter-spacing: 0px!important;
	    line-height: 20px !important;
	    margin-bottom: 10px !important;
	    margin-top: 40px !important;;
	}
	.author img{
		position: static;
	}
	.author h6{
		position: static;
		margin-top: 16%;

	}
	.services {padding: 20px 0}
	.services h5 {margin: 10px 0}
	.services h3 {
	    font-size: 25px;
	    line-height: 20px;
	    margin: 10px 0;
	}
	.services hr {
	    margin: 10px 0;
	    height: 1px;
	}
	.approach hr {
		margin: 25px 0;
	    height: 1px;
	}
	.approach h5 {
	    font-size: 30px;
	    line-height: 8px;
	    margin: 10px 0;
	}
	.articles .articleImg {height: 157px}
	.approach .mt-100 {
	    margin-top: 30px;
	    margin-bottom: 20px;
	}
	.card-body > a {
		padding: 5px 0;
    	width: 28%;
    	line-height: 20px;
    	margin-top: 8px;
	}
/***************************************
		Blog Post Page
****************************************/
	.blog_header {
	    padding-top: 0;
	    padding-bottom: 5px;
	}
	.blog_header h2 {
	    font-size: 30px;
	    line-height: 25px;
	    margin: 10px 0;
	}
	.blog_header h4 {
	    font-size: 18px;
	    line-height: 15px;
	    letter-spacing: 3px;
	    margin: 10px 0;
	}
	.mt-4{
	    margin-top: 10px !important;
	}
	.buttons a {
	    margin: 0 22px 0 0;
	    padding: 8px 24px;
	    margin-bottom: 8px;
	}
	.blog_body .blogPost .blockbg > span {
		font-size: 13px;
    	line-height: 20px;
    	letter-spacing: 2px;
	}
	.blog_body {padding: 50px 0}
	.blog_body .blogbody1 {
	    width: 90px;
	    top: -2%;
	}
	.blog_body .blogbody2 {width: 120px}
	.blog_body .blogbody3 {width: 100px}
	.blog_body .blogbody4 {width: 135px}
	.blog_body .blogPost .postImg {
	    width: 100%;
	    height: 70%;
	}
	.blog_body .blogPost h4 {
	    font-size: 35px;
	    line-height: 10px;
	    margin: 18px 0;
	}
	.blog_body .blogPost h6 {
	    line-height: 25px;
	    letter-spacing: 2px;
	}
	.blog_body .blogPost h6::before {
	    width: 35%;
	    margin-right: 5%;
	}
	.blog_body .blogPost .blockbg > a {
		margin: auto;
    	margin-top: 15px;
	}
	.blog_body .blogPost p {font-size: 15px}
/***************************************
		Single Post Page
****************************************/
	.postMainBody .postImage {height: 300px}
/***************************************
		Footer Post Page
****************************************/
	footer {
	    padding: 10px 0;
	}
	.footerimg1 {
	    top: -21%;
	    right: 30%;
	    width: 90px;
	}
	.footerimg2 {
	    right: 15%;
	    top: 58%;
	    width: 35px;
	}
	.footerimg3 {
	    width: 50px;
	    right: 8%;
	    bottom: 14%;
	}
	footer h3 {
	    font-size: 30px;
	    line-height: 28px;
	    margin: 10px 0;
	}
	footer p {
	    font-size: 18px;
	    line-height: 25px;
	}
}


@media screen and (max-width:639px){
/***************************************
		Header Section
****************************************/

/***************************************
		Index Page
****************************************/
	.header_section h3 {
	    font-size: 22px;
	    line-height: 26px;
	    margin-bottom: 30px;
	}
	.founder1 {
	    width: 330px;
	    left: 24.9%;
	    top: 10.8%;
	}
	.articles {margin-bottom: 25px}
	.card-body {
		position: relative;
		clear: both;
		padding-bottom: 40px;
	}
	.card-body > a {
	    line-height: 20px;
	    margin-left: 0;
	    margin-top: 20px;
	}
	.card-body .bg1 {float: left}
	.card-body .bg2 {float: right}
/***************************************
		Blog Post Page
****************************************/
	.blog_header .blog_header1 {
	    width: 92px;
	    top: 0px;
	}
	.blog_header h2 {
		margin: 5px 0;
		font-size: 25px;
    	line-height: 10px;
	}
	.blog_header h4 {
	    font-size: 15px;
	    line-height: 10px;
	    letter-spacing: 2px;
	    margin: 5px 0;
	}
	.buttons a {
	    margin: 0 24px;
	    padding: 6px 10px;
	    margin-bottom: 8px;
	}
	.blog_body {padding: 35px 0}
	.blog_body .blogbody1 {width: 73px}
	.blog_body .blogbody2 {width: 55px}
	.blog_body .blogbody3 {width: 65px}
	.blog_body .blogbody4 {width: 80px}
	.blog_body .blogPost h4 {
	    font-size: 25px;
	    line-height: 6px;
	    margin: 16px 0;
	}
	.blog_body .blogPost h6 {
	    line-height: 12px;
	    letter-spacing: 1px;
	    margin: 10px 0;
	}
	.blog_body .blogPost h6::before {
	    width: 16%;
	    margin-right: 5%;
	}
	.blog_body .blogPost p {
	    font-size: 14px;
	}

/***************************************
		Single Post Page
****************************************/
	
	.postMainBody .postImage {height: 250px}
	.postMainBody .postBody {padding: 64px 0 88px 0;}
	.postMainBody .postBody .singl1 {width: 110px;}
	.postMainBody .postBody .singl2 {width: 100px;}
	.postMainBody .postBody .singl4 {width: 70px;}
	.postMainBody .postBody .singl6 {
	    bottom: -35px;
	    width: 100px;
	}
	.postMainBody .postBody .singl5 {
	    top: 48%;
	    width: 50px;
	}
	.footerimg1 {width: 100px;}
}
@media screen and (max-width:575px){
/***************************************
		Header Section
****************************************/

/***************************************
		Index Page
****************************************/
	.founder1 {
	    width: 195px;
	    left: 34%;
	    top: 10.3%;
	}
	.founder4 {
	    width: 37px;
	    top: 50%;
	}
	.founder6 {display: none;}
	.founder7 {
	    width: 90px;
	    left: 0%;
	}
	.founder8 {
	    display: none;
	}
	.founder9 {
	    display: none;
	}
	.founder10 {
	    height: 129px;
	    left: 93%;
	    top: 67%;
	}
	.founder11 {
	    height: 129px;
	    top: 49%;
	    left: 1%;
	}
	.founder12 {
	    display: none;
	}
	.author {
	    width: 181px;
	    height: 254px;
	}
	.card-body{padding-bottom: 50px}
	.card-body > a {
	    line-height: 20px;
	    margin-left: 0;
	    margin-top: 25px;
	    padding: 8px 0px;
    	width: 26%;
	}
	.author img {margin-top: -15%}
	.articles .articleImg {height: 162px}
/***************************************
		Blog Post Page
****************************************/
	.blog_header h2 {
	    font-size: 20px;
	    line-height: 7px;
	}
	.blog_header h4 {
	    font-size: 14px;
	    line-height: 7px;
	    letter-spacing: 1px;
	}
	.blog_body .blogPost .col-md-12 {
		background-color: transparent;
		box-shadow: none;
		padding:0 25px;
	}
	.blog_body .blogPost .postImg {
	    width: 90%;
	    height: 57%;
	    margin: auto;
	}
	.blockbg{
		background-color: #fff;
		width: 85.4%;
		margin: auto;
		box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.25);
		padding-bottom: 15px;
	}
/***************************************
		Single Post Page
****************************************/
	.navbar-brand {padding: 0}
	.postMainBody .postImage {height: 215px}
	.postMainBody .postBody {padding: 30px 0 65px 0;}
	.postMainBody .postBody .singl1 {width: 95px;}
	.postMainBody .postBody .singl2 {width: 70px;}
	.postMainBody .postBody .singl3 {
	    top: 65px;
	    width: 50px;
	}
	.postMainBody .postBody .singl4 {width: 50px;}
	.postMainBody .postBody .singl5 {width: 40px;}
	.postMainBody .postBody .singl6 {width: 80px;}
	.postMainBody .postBody .singl7 {
	    bottom: 21px;
	    width: 28px;
	}
	.postMainBody .postBody .postBodyHeader h1 {
	    font-size: 31px;
	    line-height: 15px;
	    margin: 10px 0;
	}
	.postMainBody .postBody .postBodyHeader p {
	    font-size: 12px;
	    letter-spacing: 3px;
	}
	.postMainBody .postBody .postText p {
	    font-size: 15px;
	    line-height: 19px;
	    letter-spacing: 1px;
	}
	.prev-next {margin-top: 10px;}
	.prev-next a {
	    height: 30px;
	    width: 30px;
	}
	.prev-next .prev::after {
	    font-size: 13px;
	    line-height: 18px;
	}
	.prev-next .next::before {
	    font-size: 13px;
	    line-height: 18px;
	    right: 185%;
	}
/***************************************
		Footer Section
****************************************/
	footer {padding: 12px 0}
	.footerimg1 {width: 70px}
	.footerimg2 {width: 15px}
	.footerimg3 {width: 65px}
	footer h3 {
	    font-size: 28px;
	    line-height: 20px;
	    margin: 12px 0;
	}
	footer p {
	    font-size: 18px;
	    margin: 0px 0;
	}
}
@media screen and (max-width:479px){
/***************************************
		Header Section
****************************************/
body {margin: 94px 0 0 0}
.header.fix .hdrIn .logo {width: 20%}
.logo {width: 30%}
.img7 {display: none;}
 .img10{
 	display: block;
 	position: absolute;
 	top: -100px;
    right: -6px;
 }
/***************************************
		Index Page
****************************************/
	.header_section h2 {
	    font-size: 24px;
    	line-height: 70px;
	    margin: 0px 0;
	}
	.header_section h2 > span {
	    font-size: 60px;
    	line-height: 70px;
	}
	.header_section h2 > p {
	    font-size: 18px;
    	line-height: 24px;
	}
	.header_section a {
		padding: 11px 40px;
	    margin-top: 35px;
	    margin-bottom: 0px;
	    font-size: 17px;
	    line-height: 24px;
	    letter-spacing: 3px;
	}
.header_section h6 {
    margin: 55px 0;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3px;
}
.header_section h6::after {width: 12%}
	.header_section h3 {
	    font-size: 24px;
    line-height: 25px;
    margin: 35px 0;

	}
	.header_section p {
		padding: 0 30px;
	    font-size: 16px;
	    line-height: 20px;
	    margin-bottom: 14px;
	}
	.img8 {display: none}
	.img1 {display: none}
	.img3 {display: none}
	.img4 {display: none}
	.img6 {
		width: 132px;
    top: 34%;
    left: 85%;
	}
	.img5 {
		width: 48px;
	    left: 0%;
	    top: 12%;
	}
	.founder1 {
	    width: 195px;
	    left: 30%;
	    top: 8.6%;
	}
	.founder2 {
	    width: 34px;
	    top: 9.5%;
	    left: 33%;
	}
.founder10 {
    height: 129px;
    left: 93%;
    top: 61%;
}
	.founder11 {
    height: 129px;
    top: 33%;
    left: 1%;
}
	.founder12{display: none;}
	.founder4 {
	    width: 35px;
	    top: 50%;
	}
	.founder7 {
	    width: 85px;
	    left: 0;
	}
	.founder9 {
	    width: 38px;
	    bottom: 4px;
	    right: 6px;
	}
	.founder8 {width: 31px}
	.author {
		height: 226px;
		margin-top: 11%;
    	margin-left: 28%;
	}
	.author img {
	    margin-top: -12%;
	    margin-left: -2%;
	}
	.services {
    text-align: center;
    padding: 70px 20px;
}
.service1 {
    display: none;
}
.service3 {
    width: 75px;
    top: 5%;
}
.service4 {
    width: 39px;
    top: 15%;
}
.services hr {
    margin: 26px 0;
    height: 1px;
}
.services p {
    text-align: left;
}
.services h3 {
    text-align: left;
}
.service5{
	display: block;
	position: absolute;
	bottom: -31%;
	left: 0;
}
.service6 {
    width: 72px;
    display: block;
    position: absolute;
    bottom: -5%;
    left: 20%;
}
.service2 {display: none}
	.articles .articleImg {height: 210px;}
	.approach h5 {
     font-size: 24px;
     line-height: 50px;
     font-weight: 600;
}
.approach2 {display: none;}
.approach1 {display: none;}
.approach .card-body h5 {
    line-height: 20px;
}
.approach hr {
    margin: 25px 0;
    height: 1px;
    background-color: #949384;
}
	.card-body > a {
	    width: 30%;
    	font-size: 10px;
	}
    .card-body > a:last-child{
		letter-spacing: 2px;
	}
/***************************************
		Blog Post Page
****************************************/
	.blog_header .blog_header1 {width: 60px}
	.blog_header h2 {
	    font-size: 18px;
	    line-height: 5px;
	}
	.blog_header h4 {
	    font-size: 13px;
	    line-height: 4px;
	    letter-spacing: 0px;
	}
	.buttons a {
	    margin: 0 24px;
	    padding: 5px 8px;
	    margin-bottom: 8px;
	    font-size: 12px;
	}
	.blockbg {width: 84.2%}
	.blog_body .blogPost h4 {
	    font-size: 16px;
	    line-height: 6px;
	    margin: 14px 0;
	}
	.blog_body .blogPost h6 {
	    line-height: 7px;
	    letter-spacing: 0px;
	    margin: 8px 0;
	    font-size: 14px;
	}
	.blog_body .blogPost h6::before {
	    width: 14%;
	    margin-right: 4%;
	}
	.blog_body .blogPost p {
	    font-size: 12px;
	}
	.blog_body .blogPost .blockbg > a {
		letter-spacing: 2px;
		font-size: 14px;
		font-weight: 500;

	}
/***************************************
		Single Post Page
****************************************/
	.postMainBody .postImage {height: 185px}
	.postMainBody .postBody .singl1 {width: 70px}
	.postMainBody .postBody .singl2 {width: 50px}
	.postMainBody .postBody .singl3 {width: 40px}
	.postMainBody .postBody .singl4 {width: 35px}
	.postMainBody .postBody .singl5 {width: 22px}
	.postMainBody .postBody .singl6 {width: 55px}
	.postMainBody .postBody .singl7 {
	    bottom: 5px;
	    width: 15px;
	}
	.postMainBody .postBody .postBodyHeader h1 {
	    font-size: 29px;
	    line-height: 13px;
	    margin: 8px 0;
	}
	.postMainBody .postBody .postBodyHeader p {letter-spacing: 2px}
	.postMainBody .postBody .postBodyHeader p > span {margin-left: 20px}
	.postMainBody .postBody {padding: 10px 0 35px 0}
	.postMainBody .postBody .postText {padding: 1px}
	.postMainBody .postBody .postText p {
	    font-size: 12px;
	    line-height: 15px;
	    letter-spacing: 0px;
	}
	.prev-next {margin-top: 0px}
	.prev-next a {
	    height: 20px;
	    width: 20px;
	}
	.prev-next .prev::after {
	    font-size: 12px;
	    line-height: 15px;
	    letter-spacing: 1px;
	}
	.prev-next .next::before {
	    font-size: 12px;
	    line-height: 15px;
	    right: 220%;
	    letter-spacing: 2px;
	}
/***************************************
		Footer Section
****************************************/
	footer {padding: 0}
	.footerimg1 {display: none}
	.footerimg2 {
		width: 10px;
	}
	.footerimg3 {
    width: 55px;
    right: -30px;
    bottom: 3px;
}
	footer h3 {
	    font-size: 30px;
	    line-height: 12px;
	    margin: 10px 0;
	}
	footer p {
	    font-size: 18px;
	    margin: 0px 0px 5px 0px;
	    line-height: 20px;
	}
}
@media screen and (max-width:450px){
	.author{
		margin-top: 16%;
		margin-left: 27%;
	}
	.articles .articleImg {height: 180px;}
	.buttons {padding: 0 0 0 15px}
	.buttons a {
	    margin: 0 24px 0 0;
	    padding: 5px 8px;
	    margin-bottom: 8px;
	    font-size: 12px;
	}
	.author{
		margin-top: 16%;
    	margin-left: 28%;
	}
}
@media screen and (max-width:400px){
	.author{
		margin-top: 25%;
    	margin-left: 27%;
	}
	.card-body > a:last-child {margin-top: 0}
}
@media screen and (max-width:380px){
.img10 {width: 80px}
	.author{
		margin-top: 30%;
	    margin-left: 27%;
	}
	.articles .articleImg {height: 160px}
	.card-body > a:last-child{
		margin-top: 0;
		letter-spacing: 2px;
	}
}
@media screen and (max-width:350px){479

	.founder1 {
	    width: 195px;
	    left: 29%;
	    top: 6.7%;
	}
	.founder2 {
	    width: 27px;
	    top: 6.99%;
	    left: 36%;
	}
	.founder h5 {
	    letter-spacing: 2px;
	    font-size: 20px;
	    margin-bottom: 35px;
	}
	.founder h3 {
	    margin-bottom: 15px;
	    font-size: 21px;
	    font-weight: 500;
	}
	.author{
		margin-top: 26%;
    	margin-left: 25%;
	}
	.articles .articleImg {height: 150px}
	.postMainBody .postImage {height: 165px}
}
@media screen and (max-width:320px){
	.founder h5 {
	    font-size: 18px;
	    margin-bottom: 30px;
	}
	.founder h3 {
	    margin-bottom: 10px;
	    font-size: 19px;
	    font-weight: 500;
	}
	.founder1 {
	    width: 150px;
	    top: 5.5%;
	}
	.founder2 {
	    top: 5.5%;
	}
	.author {
	    margin-top: 19%;
	    margin-left: 24%;
	    width: 58%;
	}
	.author h6 {font-size: 20px}
	.postMainBody .postBody .postBodyHeader h1 {line-height: 30px}
}